body {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    width: 100%;
}

.hero {
    background-image: url(./resources/hero.jpg);
    background-size: cover;
    width: 40%;
    height: 100vh;
}

.hero-text {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.3);
}

@font-face {
    font-family: Norse;
    src: url(./resources/Norse-Bold.otf);
}

.hero-text h1 {
    font-family: Norse;
    color: white;
    font-size: 5em;
    background: none
}

#logo {
    width: 1em;
    height: auto
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;
    padding: 0px 20px
}

main>div.sign-up-form {
    justify-content: center;
}

main>div.submit {
    justify-content: flex-start;
}

.description {}

main>div:nth-of-type(odd) {
    background-color: rgb(240, 240, 240);
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 10px;
}

label,
input {
    box-sizing: border-box;
    width: 40%;
}